# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: not sure
annotated-types
black
blas
bzip2
ca-certificates
click
coloredlogs
freetype
giflib
humanfriendly
jpeg
lcms2
lerc
libcxx
libdeflate
libffi
libgfortran
libgfortran5
libopenblas
libpng
libtiff
libwebp
libwebp-base
llvm-openmp
lz4-c
mypy
mypy_extensions
ncurses
numpy
numpy-base
openjpeg
openssl
packaging
pathspec
pillow
pip
platformdirs
psutil
pydantic
pydantic-core
python
python_abi
readline
setuptools
sqlite
tk
tomli
typing-extensions
typing_extensions
tzdata
wheel
xz
zlib
zstd
